.list-container {
    /*padding: 5px;*/
}

.list-item {
    /*margin: 3px;*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.list-item-block > .list-container {
    margin-left: 50px;
}

.expand-button {
    padding: 0 !important;
    width: 30px !important;
    height: 25px !important;
}

.selected {
    background: #eeeeee;
}