.category-block {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-block > div:first-child {
    display: flex;
    align-items: center;
}