.task-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.task-left-part {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}